<h2>Users</h2>
<ul *ngIf="loaded && users.length > 0">
  <li *ngFor="let user of users">
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>

    <ul *ngIf="showExtended">
      <li>Age: {{ user.age }}</li>
      <li>
        Address: {{ user.address.street }} at {{ user.address.city }},
        {{ user.address.state }}
        {{ user.address.zip }}
      </li>
    </ul>
  </li>
</ul>

<!-- <ng-template #noUsers>No Users Found</ng-template> -->

<h4 *ngIf="users.length === 0">No Users Found</h4>

<h4 *ngIf="!loaded">Loading Users...</h4>
